# Django settings
export DEBUG=True
export SECRET_KEY=your_secret_key_here
export ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL settings
export DB_NAME=yourdbname
export DB_USER=yourdbuser
export DB_PASSWORD=yourdbpassword
export DB_HOST=localhost
export DB_PORT=5432

